@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Freehand&family=Stick+No+Bills:wght@500&family=Ubuntu&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body{
    height: auto;
    background-color: whitesmoke;
    font-family: 'Ubuntu';
}


#content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.side-bar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    border-right: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    border-radius: 5px;
    flex-shrink: 0;

    width: 250px;
    height: 100%;

    padding:0.5em 0.5em 0.5em 1em;
    background-color: rgb(249, 249, 251);

    overflow-y: auto;
    z-index: 99;
    transition: all .5s ease;
   
}



.side-bar .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
/*     padding: 50px 40px 0px 40px;
 */}

.side-bar .projects #project-tab{
    display: flex;
    align-items: start;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    border-bottom: 2px grey solid;
    padding-bottom: 2.5px;
    margin-bottom: 10px;
}

.side-bar .projects #projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    list-style-type: none;
}



.side-bar .projects #project-input #project-name{
    width: 60%;
}

.side-bar .projects #project-input form{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;
    gap: 10px;
    left: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-bar .projects #projects-list li{
    border: 1px solid rgb(182, 177, 177);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    min-width: 60%;
}

.side-bar .projects #projects-list li:hover{

    background-color: grey;
}

.side-bar .projects #project-input form #btn-submit{
    border-radius: 5px;
    background: none;
    color: none;
}

/* Content */

.content-container{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5em 1em 2em 190px;
    flex-grow:1;

}

#project--name-container{
    display: flex;
    flex-direction: row;
    width: 65%;
}


#project--name{
    justify-self: start;
    font-size: 20px;
    font-weight: 800;
    font-style: oblique;
}

.todo-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
    /* overflow-y: auto; */
    padding-bottom: 30px;
    width: 100%;
}

.todo--item{
    display: flex;
    justify-content: space-between;
    gap:10px;

    max-width: 65%;
    min-width: 65%;
    margin-top: 20px;
    padding: 10px 5px 10px 10px;

    border: 2px solid black;
    border-radius: 5px;
}

.todo--item #control-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    order: 1;
}

.todo--item #todo-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
/* #todo-description:hover{
    display:none;
} */

#todo-title{
    font-weight: 900;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
}
.todo--item #todo-content #todo-main{
    align-self: flex-start;
}

.todo--item #todo-content #todo-meta{
    align-self: flex-start;
}

.todos-add-button{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-right: 40px;
    padding-top: 2.5rem;
    width: 40px;
}

.todos-add-button #add-todo{
    position: sticky;
    top:70px;
}




/* .side-bar.open{
    width: 250px;
} */

.side-bar .logo-details{
    width: 100%;
    height: 20px;
    position: relative;
}

.side-bar .logo-details #btn{
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: right;
    cursor: pointer;
    transition: all .5s ease;

}


#todo--form{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background-color: #ffff;
    width: 420px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

#todo--form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
}

#todo--form form .form--buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
